
@{
    ViewBag.Title = "ChinhSach";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Content/contentcss.css" />
</head>
<div style="text-align: center; padding-top: 15px;" class="chinhsachbaomat">
    <strong style=" font-size:xx-large">CHÍNH SÁCH BẢO MẬT</strong>
</div>


<div class="chinhsach">

    <strong>1. Mục đích và phạm vi thu thập</strong>
    <p>Để truy cập và sử dụng một số dịch vụ tại Aodongluc.vn, bạn có thể sẽ được yêu cầu đăng ký với chúng tôi thông tin cá nhân bao gồm(Email, Họ tên, Số đt liên lạc…). Các thông tin này sẽ được sử dụng để làm thông tin giao hàng, thông tin trả lời bình luận và đánh giá hoặc cũng có thể được sử dụng để hưởng các ưu đãi, khuyến mãi của Công ty. Mọi thông tin khai báo phải đảm bảo tính chính xác và hợp pháp. Aodongluc.vn không chịu mọi trách nhiệm liên quan đến pháp luật của thông tin mà người dùng khai báo.</p>
    <ul>
        <li>• Chúng tôi cũng có thể thu thập thông tin về số lần truy cập, bao gồm số trang bạn xem, số links(liên kết) bạn click và những thông tin khác liên quan đến việc kết nối đến site Aodongluc.vn .</li>
        <li>• Chúng tôi cũng thu thập các thông tin mà trình duyệt Web (Browser) bạn sử dụng mỗi khi truy cập vào Aodongluc.vn, bao gồm: địa chỉ IP, loại Browser, ngôn ngữ sử dụng, thời gian và những địa chỉ mà Browser truy xuất đến.</li>
        <li>• Áo Động Lực có thể thu thập thêm các thông tin về đơn hàng, chất liệu, mục đích sử dụng và các yêu cầu cụ thể khác để giúp khách hàng tối ưu hóa sản phẩm và lựa chọn giải pháp thực hiện phù hợp.</li>
    </ul>
    <strong>2. Phạm vi sử dụng thông tin</strong><br />
    <strong>Thông tin cá nhân thu thập được sẽ chỉ được Áo Động Lực sử dụng trong nội bộ công ty và cho một hoặc tất cả các mục đích sau đây:</strong>
    <ul>
        <li>• Xử lý đơn hàng: gọi điện/tin nhắn xác nhận việc đặt hàng, thông báo về trạng thái đơn hàng & thời gian giao hàng, xác nhận việc huỷ đơn hàng (nếu có).</li>
        <br />
        <li>• Gởi thư ngỏ/thư cảm ơn, giới thiệu sản phẩm mới, dịch vụ mới hoặc các chương trình khuyến mãi của Aodongluc.vn.</li>
        <br />
        <li>• Gởi thông tin về bảo hành sản phẩm giải đáp thắc mắc và hỗ trợ hướng dẫn sử dụng sản phẩm.</li>
        <br />
        <li>• Giải quyết khiếu nại của khách hàng.</li>
        <br />
        <li>• Thông tin trao thưởng, khuyến mãi, ưu đãi, quà tặng của Aodongluc.</li>
        <br />
        <li>• Gởi thông tin cho công ty tài chính để tiếp nhận, thẩm định & duyệt hồ sơ trả góp(nếu có).</li>
        <br />
        <li>• Các khảo sát để chăm sóc khách hàng tốt hơn.</li>
        <br />
        <li>• Xác nhận các thông tin về kỹ thuật & bảo mật thông tin khách hàng.</li>
        <br />
        <li>• Các trường hợp có sự yêu cầu của cơ quan nhà nước có thẩm quyền, theo đúng quy định của pháp luật.</li>
        <br />
    </ul>
    <strong>Thông tin đơn hàng sẽ được Áo Động Lực sử dụng với các mục đích sau:</strong>
    <ul>
        <li>• Các file tài liệu, in ấn, thiết kế sẽ được gửi và lưu hành nội bộ cho tất cả các bộ phận phòng ban trong Công ty Áo Động Lực nhằm kiểm tra và đánh giá chất lượng sản phẩm từng khâu và tiến hành sản xuất đúng với các tiêu chuẩn yêu cầu cụ thể của khách hàng.</li>
        <li>• Với các đơn hàng đã hoàn thiện, Áo Động Lực có thể đăng tải các hình ảnh sản phẩm lên website và mạng xã hội của Áo Động Lực. Nhằm quảng bá thương hiệu cho khách hàng, và lưu trữ hình ảnh sản phẩm để khi thực hiện lại có thể dễ dàng bắt đầu một cách nhanh nhất và hiệu quả nhất. Ngoài ra khách hàng cũng có thể dễ dàng tìm lại các hình ảnh sản phẩm của mình qua các kênh của Áo Động Lực nhằm phục vụ cho công tác thương hiệu và các mục đích khác của họ. Với các khách hàng, cần giữ thông tin về file in, file thiết kế có thể yêu cầu Áo Động Lực cung cấp file gốc để quý khách hàng có thể tiện lưu trữ và sử dụng cho các ấn phẩm khác. </li>
        <li>• Các khách hàng cần bảo mật thông tin đơn hàng bao gồm file, hình ảnh sản phẩm, nội dung thì cần báo trước với tư vấn viên để được hỗ trợ và bảo mật các thông tin một cách nghiêm ngặt trên hệ thống. Điều này có thể phù hợp với các shop thời trang, locad brand,.. Song, mặc định của Áo Động Lực là sẽ giúp khách hàng quảng bá thương hiệu. Nếu quý khách không có những yêu cầu cụ thể về bảo mật một phần hay toàn bộ đơn hàng thì mặc định là Áo Động Lực sẽ có quyền chia sẽ. Quyết định này được nghiên cứu trên đa phần các khách hàng sử dụng dịch vụ đồng phục áo thun, sản xuất theo yêu cầu tại Áo Động lực.</li>
        <li>• Các thông tin cá nhân về khách hàng, file in, chi tiết nội dung đơn hàng sẽ không được cung cấp cho bên thứ 3 trong mọi trường hợp. Trừ khi khách hàng yêu cầu hoặc các đơn vị chức năng có thẩm quyền, yêu cầu truy xuất các thông tin để phục vụ cho công tác điều tra của họ.</li>
    </ul>
    <strong>3. Thời gian lưu trữ thông tin</strong>
    <p>Dữ liệu cá nhân của Thành viên sẽ được lưu trữ cho đến khi có yêu cầu hủy bỏ hoặc tự thành viên đăng nhập và thực hiện hủy bỏ. Còn lại trong mọi trường hợp thông tin cá nhân thành viên sẽ được bảo mật trên máy chủ của Aodongluc.vn.</p>
    <p>  Thông tin về các đơn hàng thực hiện theo yêu cầu bao gồm file thiết kế, hóa đơn chứng từ, phiếu xuất kho,…. sẽ được lưu trữ tối đa trong 1 tuần. Với các đơn hàng mới test màu, may mẫu sản phẩm cần thực hiện đơn hàng sớm hoặc báo lại các thông tin với bộ phận tư vấn để gia hạn lưu trữ hồ sơ đơn hàng. Nhằm phục vụ cho việc điều chỉnh các chi tiết và thực hiện đơn hàng tốt hơn.</p>
    <strong>4. Địa chỉ của đơn vị thu thập và quản lý thông tin cá nhân</strong><br />
    <strong>CÔNG TY TNHH SẢN XUẤT VÀ THƯƠNG MẠI ÁO ĐỘNG LỰC</strong>
    <p>Tổng đài: 028.7100.8789</p>
    <p>Website : www.aodongluc.vn</p>
    <p>Email   : aodongluc@gmail.com</p>
    <p>Địa chỉ : 710/59 Lũy Bán Bích , Phường Tân Thành, Quận Tân Phú, TP Hồ Chí Minh.</p>
    <strong>5.  Phương tiện và công cụ để người dùng tiếp cận và chỉnh sửa dữ liệu cá nhân</strong>
    <p>Hiện website chưa triển khai trang quản lý thông tin cá nhân của thành viên, vì thế việc tiếp cận và chỉnh sửa dữ liệu cá nhân dựa vào yêu cầu của khách hàng bằng cách hình thức sau:</p>
    <p>+ Gọi điện thoại đến tổng đài chăm sóc khách hàng 028.7100.8789, bằng nghiệp vụ chuyên môn xác định thông tin cá nhân và nhân viên tổng đài sẽ hỗ trợ chỉnh sửa thay người dùng</p>
    <p>+ Để lại bình luận hoặc gửi góp ý trực tiếp từ website www.aodongluc.vn, quản trị viên kiểm tra thông tin và liên lạc lại với người dùng để xác nhận thông tin 1 lần nữa và quản trị viên chỉnh sửa thông tin cho người dùng.</p>
    <strong>6. Cơ chế tiếp nhận và giải quyết khiếu nại ( thông tin người tiêu dùng)</strong>
    <p>Bước 1: Thu thập các thông tin của người dùng cần giải quyết.</p>
    <p>
        Bước 2: Sau khi đã nhận được yêu cầu tiếp nhận của khách hàng, Áo Động Lực sẽ xử lý trong thời gian 7 đến 10 ngày làm việc.
        Trong quá trình tiếp nhận và xử lý nếu khách hàng có thắc mắc cần hỗ trợ có thể liên hệ: (028) 7100 8789 để được hỗ trợ kịp thời.
    </p>
    <strong>7.  Cam kết bảo mật thông tin cá nhân khách hàng</strong>
    <p>Tại Aodongluc.vn việc bảo vệ thông tin cá nhân của bạn là rất quan trọng, bạn được đảm bảo rằng thông tin cung cấp cho chúng tôi sẽ được bảo mật. Áo Động Lực cam kết không chia sẻ, bán hoặc cho thuê thông tin cá nhân của bạn cho bất kỳ người nào khác. Áo Động Lực cam kết chỉ sử dụng các thông tin của bạn vào các trường hợp sau:</p>
    <ul>
        <li>• Nâng cao chất lượng dịch vụ dành cho khách hàng</li>
        <br />
        <li>• Giải quyết các tranh chấp, khiếu nại</li>
    </ul>
    <p>Chúng tôi hiểu rằng quyền lợi của bạn trong việc bảo vệ thông tin cá nhân cũng chính là trách nhiệm của chúng tôi nên trong bất kỳ trường hợp có thắc mắc, góp ý nào liên quan đến chính sách bảo mật của www.aodongluc.vn , vui lòng liên hệ qua số hotline: 028.7100.8789 – Email: aodongluc@gmail.com</p>
</div>
