
@{
    ViewBag.Title = "Hệ thống cửa hàng";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/Content/contentcss.css" />
</head>
<div style="text-align: left; padding-top: 15px;padding-left:40px;padding-bottom:15px" class="chinhsachbaomat">
    <strong style=" font-size:xx-large">Hệ Thống Cửa Hàng</strong>
</div>
<div class="footer-info" style="padding-bottom:20px;padding-left:30px;">

    <a href="/" class="footer-logo" style="height:50%;width:50%;"><img src="~/images/background.png" /></a>

    <div class="ft-address" style="padding-top:10px;padding-bottom:10px;">
        <i class="fa fa-home"></i>
        <span> 830 Cách Mạng Tháng 8, Phường 5, Quận Tân Bình, TP.Hồ Chí Minh</span>
    </div>
    <div class="ft-hotline">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <a href="tel:+84903078300 " class="a">+84903078300</a>
    </div>


</div>

