@model PagedList.IPagedList<Fashion_Website.Models.SANPHAM>
@using PagedList.Mvc;
@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<style>
    .pager {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

        .pager a {
            display: inline-block;
            margin: 0 5px;
            padding: 5px 10px;
            text-decoration: none;
            color: #333;
            border: 1px solid #ddd;
            border-radius: 3px;
        }

            .pager a:hover,
            .pager a:focus {
                background-color: #ddd;
            }

        .pager .disabled {
            opacity: 0.5;
            pointer-events: none;
        }

        .pager .active a {
            background-color: #fff;
            color: #ff0000;
        }
</style>


<head>
    <link href="~/Content/Sanpham.css" />
</head>

<body>
    <section id="collection-wrapper" class="mg-bottom-30">
        <div class="collection-wrapper-header">
            <div class="grid-container tittle-container">
                <div class="grid-item">
                    <h1 class="section-title">
                        T-SHIRTS
                    </h1>
                </div>
            </div>
        </div>
        <div class="grid-container product">
            @foreach (var item in Model)
            {
                <div class="grid-item">
                    <div class="product-item">
                        <div class="product-image">
                            <a href="~/ChiTietSanPham/ChiTietSP?masp=@item.MaSP" class="">
                                <img src="~/images/@item.HinhSP" class="img-responsive item-thumb">
                            </a>
                        </div>
                        <div class="product-info">
                            <a href="~/ChiTietSanPham/ChiTietSP?masp=@item.MaSP" class="product-title a">@item.TenSP</a>
                            <span class="sku-loop">Mã sản phẩm: @item.MaSP</span>
                            <span class="product-price">
                                <span class="current-price">Giá: $@item.GiaSP</span>
                            </span>
                        </div>
                        <div style="background:black;padding-left:20px;padding-right:20px;border-radius:5px;height:40px;padding-top:10px;margin-top:10px;">
                            <a href="~/ChiTietSanPham/ChiTietSP?masp=@item.MaSP" style="color:white;text-align:center;">Mua Hàng</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>

</body>

<div class="pager">
    @Html.PagedListPager(Model, page => Url.Action("SanPham", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>

