.form-group {
    display: flex;
}

    .form-group .form-wrapper {
        width: 50%;
    }

        .form-group .form-wrapper:first-child {
            margin-right: 20px;
        }



.form-wrapper label {
    display: block;
}
.form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    background-color: #00000040;
    z-index: 100;
}
.layout{
    display: inline-block;
    width: 1000px;
    height: 700px;
    background-color: #fff;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.layout .img, .layout .text{
    width: 50%;
    float: left;
}

.layout .img img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 93vh;
}

.layout .text{
    padding-left: 50px;
    padding-right: 50px;
}

.layout .text .group {
    display: flex;
    justify-content: space-evenly;
}

.layout .text button{
    font-size: 18px;
    font-weight: 500;
    color: grey;
    letter-spacing: 4px;
    background-color: transparent;
    border:none;
    cursor:pointer;
}

.layout .text button:hover{
    transition: transform 0.5s;
    transform: scale(110%);
}

.layout .text form{
    margin: 20px 0 30px;
    text-align: center;
}

.layout .text form input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #9b9b9b;
    padding: 15px 0;
    letter-spacing: 2px;
    font-size: 14px;
    margin-bottom: 20px;
}

.layout .text form select{
    width: 100%;
    border: none;
    border-bottom: 1px solid #9b9b9b;
    padding: 15px 0;
    letter-spacing: 3px;
    font-size: 14px;
    margin-bottom: 25px;
}

#message-box input.pointer {
    cursor: pointer !important;
}

#message-box input:hover{
    transition: transform 0.5s;
    transform: scale(110%);
}

.layout .text .sub-btn{
    display: inline-block;
    text-decoration: none;
    background-color: #00e2ff;
    color: #fff;
    font-size: 16px;
    padding: 14px 39px;
    border-radius: 50px;
    letter-spacing: 4px;
    box-shadow: 0 12px 20px #00c2ff6e;
    border: none;
    max-width: 210px;
    margin: 0 auto;
}


.layout .text .warningMessage {
    display: inline-block;
    padding-bottom: 30px;
    color: red !important;
}

.layout .text .forgotpassword {
    width: 100%;
    display: block;
    text-align: center;
    color: #b9b9b9;
    text-decoration: none;
    letter-spacing: 3px;
    margin-top: 10px;
}